@model NoteViewModel
@*Partial View*@
<form asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id" method="post">
    <div id="noteDiv" class="card mt-3">

        @*menu overlay for each item*@
        <div id="myNav" class="overlay">

            @*Change note's color*@
            <div class="w-100 h-25 d-flex text-center clearfix">
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
                <label class="btn flex-fill" style="background-color:#29fbdc" for="option1">
                    <i class="fa-solid fa-check"></i>
                </label>

                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                <label class="btn flex-fill" style="background-color:#25be7b" for="option2">
                    <i class="fa-solid fa-check"></i>
                </label>

                 <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                <label class="btn flex-fill" style="background-color:#FF7F50" for="option3">
                    <i class="fa-solid fa-check"></i>
                </label>

                 <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                <label class="btn flex-fill" style="background-color:#CCCCFF" for="option4">
                    <i class="fa-solid fa-check"></i>
                </label>

                 <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off">
                <label class="btn flex-fill" style="background-color:#f1c40f" for="option5">
                    <i class="fa-solid fa-check"></i>
                </label>
            </div>
        
            @*Delete Note*@
            <div class="d-grid">
                <a asp-action="DeleteNote" asp-route-id="@Model.Id" class="btn btn-secondary btn-block">
                    <i class="fa-solid fa-trash-can"></i>
                    Delete Note
                </a>
            </div>

            @*close menu*@
            <div class="d-grid">
                <button type="button" class="btn btn-outline-warning close" onclick="closeNav(this)">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </button>
            </div>
        </div>

        <div style="background-color:@Model.Color">

            @*top bar menu*@
            <div class="clearfix d-flex">
                <button type="button" class="float-start btn" id="btnNewNote" onclick="newNote()">
                    <i class="fa-solid fa-plus"></i>
                </button>

                <input type="text" asp-for="Title" class="border border-0 text-center flex-grow-1 form-control" style="background-color:@Model.Color" />

                <div class="btn-group float-end">

                    @*sumbit form button*@
                    <button id="postForm" class="btn" type="submit">
                        <i class="fa-solid fa-check"></i>
                    </button>

                    @*open menu*@
                    <button id="openMenuBtn" class="btn" type="button" onclick="openNav(this)">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>

                    @*Remove note from main page*@
                    @{
                        if (@Model.IsDisplayed == true)
                        {
                            <a id="closebtn" class="btn" asp-action="ChangeVisibility" asp-route-id="@Model.Id" asp-route-isDisplayed="@Model.IsDisplayed">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <textarea asp-for="Content" class="border border-0" rows="5" id="content">@Model.IsDisplayed.ToString()</textarea>
    </div>
</form>
