@model NoteViewModel
@*Partial View*@
<form asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id" method="post">
    <div id="noteDiv" class="card mt-3 @Model.Id">

        @*menu overlay for each item*@
        <div id="myNav" class="overlay">

            @*Change note's color*@
            <div class="d-flex text-center">
                <div class="btn p-3 flex-fill Aqua" id="Aqua" onclick="ColorChange(this,@Model.Id)">
                    @*00FFFF*@
                </div>
                <div class="btn p-3 flex-fill MediumSeaGreen" id="MediumSeaGreen" onclick="ColorChange(this,@Model.Id)">
                    @*3CB371*@
                </div>
                <div class="btn p-3 flex-fill LightCoral" id="LightCoral" onclick="ColorChange(this,@Model.Id)">
                    @*F08080*@
                </div>
                <div class="btn p-3 flex-fill Lavender" id="Lavender" onclick="ColorChange(this,@Model.Id)">
                    @*E6E6FA*@
                </div>
                <div class="btn p-3 flex-fill Gold" id="Gold" onclick="ColorChange(this,@Model.Id)">
                    @*FFD700*@
                </div>
            </div>

            @*Delete Note*@
            <div class="d-grid">
                <a asp-action="DeleteNote" asp-route-id="@Model.Id" class="btn btn-secondary btn-block">
                    <i class="fa-solid fa-trash-can"></i>
                    Delete Note
                </a>
            </div>

            @*close menu*@
            <div class="d-grid">
                <button type="button" class="btn btn-outline-warning close" onclick="closeNav(this)">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </button>
            </div>
        </div>

        <div id="@Model.Id" style="background:@Model.Color">

            @*top bar menu*@
            <div class="clearfix d-flex">
                @*<button type="button" class="float-start btn" id="btnNewNote" onclick="newNote()">*@
                <button type="button" class="float-start btn" id="btnNewNote" data-bs-toggle="modal" data-bs-target="#myModal">
                    <i class="fa-solid fa-plus"></i>
                </button>

                <input type="text" asp-for="Title" class="border border-0 text-center flex-grow-1 form-control" style="background:@Model.Color" />
                <input type="hidden" asp-for="Color" />
                <div class="btn-group float-end">

                    @*sumbit form button*@
                    <button id="postForm" class="btn" type="submit">
                        <i class="fa-solid fa-check"></i>
                    </button>

                    @*open menu*@
                    <button id="openMenuBtn" class="btn" type="button" onclick="openNav(this)">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>

                    @*Remove note from main page*@
                    @{
                        if (@Model.IsDisplayed == true)
                        {
                            <a id="closebtn" class="btn" asp-action="ChangeVisibility" asp-route-id="@Model.Id" asp-route-isDisplayed="@Model.IsDisplayed">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <textarea asp-for="Content" class="border border-0" rows="5" id="content">@Model.IsDisplayed.ToString()</textarea>
    </div>
</form>
